# Configuration file

~CONFIG_VERSION: 1.0+96

debug {
    B:debugModeEnabled=false
    B:showDebugOverlay=true
    B:drawBorders=true
    B:skipSkyBlockCheck=false
    B:alwaysShowJerryIsland=true
}


general {
    B:warpMenuEnabled=true
    B:showIslandLabels=true
    B:hideWarpLabelsUntilIslandHovered=false
    B:hideWarpLabelForIslandsWithOneWarp=true
    B:suggestWarpMenuOnWarpCommand=false
    B:addWarpCommandToChatHistory=true
    B:showJerryIsland=true
    B:hideUnobtainableWarps=true
    B:enableUpdateNotification=true
    B:showRegularWarpMenuButton=false
}


